moonriser/client/bin/
*.project
*.classpath
moonriser/build/
moonriser/client/.settings/
moonriser/backend/build/
moonriser/client/build/
moonriser/backend/bin/
moonriser/common/bin/
moonriser/.idea/
moonriser/common/build/
moonriser/.settings/
moonriser/moonriser.iml
*.iml
moonriser/common/.settings/
moonriser/backend/moonriser-server.log
moonriser/backend/.settings/
moonriser/.gradle/
*.ipr
*.iws
moonriser/classes/artifacts/backend/exploded/backend-0.0.1-SNAPSHOT.war/META-INF/MANIFEST.MF
moonriser/classes/artifacts/backend/exploded/backend-0.0.3-SNAPSHOT.war/META-INF/MANIFEST.MF
moonriser/classes/artifacts/backend/exploded/backend-0.0.5.war/META-INF/MANIFEST.MF
moonriser/client/build.gradle.rej
